<div class="gf-form-group">
	<div class="gf-form">
		<span class="gf-form-label width-10">Region</span>
		<input type="text" class="gf-form-input" ng-model='ctrl.annotation.region' placeholder="region"></input>
	</div>
	<div class="gf-form">
		<span class="gf-form-label width-10">Log Group Name</span>
		<input type="text" class="gf-form-input" ng-model='ctrl.annotation.logGroupName' placeholder="log group name"></input>
	</div>
	<div class="gf-form">
		<span class="gf-form-label width-10">Filter Pattern</span>
		<input type="text" class="gf-form-input" ng-model='ctrl.annotation.filterPattern' placeholder="filter pattern"></input>
	</div>
</div>

<div class="gf-form-group">
	<h5 class="section-heading">Field formats</h6>
		<div class="gf-form-inline">
			<div class="gf-form">
				<span class="gf-form-label width-5">Title</span>
				<input type="text" class="gf-form-input max-width-9" ng-model='ctrl.annotation.titleFormat' placeholder="titleFormat"></input>
			</div>
			<div class="gf-form">
				<span class="gf-form-label width-5">Tags</span>
				<input type="text" class="gf-form-input max-width-9" ng-model='ctrl.annotation.tagKeys' placeholder="field1,field2"></input>
			</div>
			<div class="gf-form-inline">
				<div class="gf-form">
					<span class="gf-form-label width-5">Text</span>
					<input type="text" class="gf-form-input max-width-9" ng-model='ctrl.annotation.textFormat' placeholder="textFormat"></input>
				</div>
			</div>
		</div>
</div>
